<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Cook'UT</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <header>
  
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url('../../assets/img/fond1.jpg')">
          <div class="carousel-caption">
            <h5>Retrouvez tous les services du Cook'UT</h5>
            <p>Entre emprunt de matériel, services, retrouvez tout ce qu'il vous faut</p>
        </div>
        </div>
        <div class="carousel-item" style="background-image: url('../../assets/img/fond2.jpg')">
          <div class="carousel-caption">
            <h5>Slide 2</h5>
            <p>Blablabla</p>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('../../assets/img/fond3.jpg')">
          <div class="carousel-caption">
            <h5>Slide 3</h5>
            <p>Blablabla</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </header>
  
  <!-- Page Content -->
  <section class="py-5">
    <div class="container">
      <h1 class="fw-light">Besoin d'un service ?</h1>
      <p class="lead">Le Cook'UT vous propose de trouver tous les services que vous aurez besoin. Que vous soyez professionnel ou particulier vous pouvez poster ou chercher votre service directement sur ce site. <a href="https://www.instagram.com/cookut.ae/">N'hésitez pas à nous suivre sur Instagram !</a>!</p>
    </div>
  </section>